<h1> View All Events Here </h1>


<div class="createNewEvent">
    <button><%= link_to 'Create New Event', new_event_path %> </button>
</div>

<ul id="events">
	<% @events.each do |event| %>
		<li>
			<%= link_to event.title, event_path(event) %>
		</li>
	<% end %>
</ul>